---
import PresentationLayout from "../layouts/Presentation.astro";

import slides from "../data/slides.json";
const title = "Create a UPC Lookup Service with Astro and Cloudflare.";
---

<PresentationLayout nextSlide={slides[0]}>
	<div
		class="lg:hidden flex flex-col full-minus-nav justify-between p-2 sm:p-8"
	>
		<h1 class="mb-8 text-2xl text-center">{title}</h1>
		<h2 class="sr-only">
			Astro Static Site Generator plus Cloudflare tools give you developer super
			powers.
		</h2>
		<img
			alt="Astro rocket logo"
			class="max-h-28 md:max-h-56 block"
			src={Astro.resolve("../assets/astro.svg")}
		/>
		<img
			alt="Plus symbol"
			class="max-h-12 md:max-h-32 block"
			src={Astro.resolve("../assets/streamline-icon-add.svg")}
		/>
		<img
			alt="Cloudflare logo"
			class="max-h-16 md:max-h-48 block"
			src={Astro.resolve("../assets/cf-logo-v.svg")}
		/>
		<img
			alt="Equal symbol"
			class="max-h-12 md:max-h-32 block"
			src={Astro.resolve("../assets/streamline-icon-symbol-equal.svg")}
		/>
		<img
			alt="Person with a rocket pack and goggles shooting into the clouds."
			class="max-h-72 md:max-h-96 block"
			src={Astro.resolve("../assets/streamline-icon-speed.svg")}
		/>
	</div>

	<div class="hidden lg:flex flex-col full-minus-nav justify-between p-8">
		<h1 class="text-4xl text-center">{title}</h1>
		<div class="mt-8 lg:flex justify-between w-full">
			<img
				alt="Astro rocket logo"
				class="lg:max-h-48"
				src={Astro.resolve("../assets/astro.svg")}
			/>
			<img
				alt="Plus symbol"
				class="lg:max-h-32"
				src={Astro.resolve("../assets/streamline-icon-add.svg")}
			/>
			<img
				alt="Equal symbol"
				class="lg:max-h-48"
				src={Astro.resolve("../assets/cf-logo-v.svg")}
			/>
		</div>
		<img
			alt="Cloudflare logo"
			class="lg:max-h-32 block"
			src={Astro.resolve("../assets/streamline-icon-symbol-equal.svg")}
		/>
		<img
			alt="Person with a rocket pack and goggles shooting into the clouds."
			class="max-h-96 lg:max-h-96 block"
			src={Astro.resolve("../assets/streamline-icon-speed.svg")}
		/>
	</div>
</PresentationLayout>
