---
import PresentationLayout from "../layouts/Presentation.astro";

const seoProps = {
	title: "Astro & Cloudflare",
	description:
		"How to use Astro static site generator and Cloudflare to develop fast, responsive, and powerful websites and apps.",
	canonical: "https://upc-lookup-presentation.codedemos.dev",
	openGraph: {
		basic: {
			image:
				"https://upc-lookup-presentation.codedemos.dev/assets/img/astro-cloudflare-presentation-twitter-og.jpg",
			title: "Astro Plus Cloudflare Give You Developer Super Powers",
			type: "website",
			url: "https://upc-lookup-presentation.codedemos.dev",
		},
	},
};
---

<PresentationLayout seo={seoProps}>
	<h1 class="mt-8 text-3xl sm:text-4xl text-gray-900 text-center">
		Astro Plus Cloudflare Give You Developer Super Powers
	</h1>
	<div
		class="lg:hidden flex flex-col full-minus-nav justify-between p-2 sm:p-8"
	>
		<img
			alt="Astro rocket logo"
			class="max-h-28 md:max-h-56 block"
			src={Astro.resolve("../assets/astro.svg")}
		/>
		<img
			alt="Plus symbol"
			class="max-h-12 md:max-h-32 block"
			src={Astro.resolve("../assets/streamline-icon-add.svg")}
		/>
		<img
			alt="Cloudflare logo"
			class="max-h-16 md:max-h-48 block"
			src={Astro.resolve("../assets/cf-logo-v.svg")}
		/>
		<img
			alt="Equal symbol"
			class="max-h-12 md:max-h-32 block"
			src={Astro.resolve("../assets/streamline-icon-symbol-equal.svg")}
		/>
		<img
			alt="Person with a rocket pack and goggles shooting into the clouds."
			class="max-h-72 md:max-h-96 block"
			src={Astro.resolve("../assets/streamline-icon-speed.svg")}
		/>
	</div>

	<div class="hidden lg:flex flex-col full-minus-nav justify-between p-8">
		<div class="mt-8 lg:flex justify-between w-full">
			<img
				alt="Astro rocket logo"
				class="lg:max-h-48"
				src={Astro.resolve("../assets/astro.svg")}
			/>
			<img
				alt="Plus symbol"
				class="lg:max-h-32"
				src={Astro.resolve("../assets/streamline-icon-add.svg")}
			/>
			<img
				alt="Equal symbol"
				class="lg:max-h-48"
				src={Astro.resolve("../assets/cf-logo-v.svg")}
			/>
		</div>
		<img
			alt="Cloudflare logo"
			class="lg:max-h-32 block"
			src={Astro.resolve("../assets/streamline-icon-symbol-equal.svg")}
		/>
		<img
			alt="Person with a rocket pack and goggles shooting into the clouds."
			class="max-h-96 lg:max-h-96 block"
			src={Astro.resolve("../assets/streamline-icon-speed.svg")}
		/>
	</div>
</PresentationLayout>
