---
export interface Props {
	classNames?: string;
	link: string;
	linkText: string;
}

const {
	classNames = "underline hover:text-yellow-700",
	link,
	linkText,
} = Astro.props as Props;
---

<a class={classNames} href={link} target="_blank" rel="noopener noreferrer">
	{linkText}
</a>
