---
// import { SlideType } from "../types/presentation";

export interface Props {
	// nextSlide?: SlideType;
	// previousSlide?: SlideType;
	nextSlide?: any;
	previousSlide?: any;
}

const { nextSlide, previousSlide } = Astro.props as Props;
---

<header class="px-8 py-4">
	<nav class="flex justify-between">
		<a
			href={`/slides/${previousSlide?.linkText}`}
			class="text-xl text-gray-700 hover:text-yellow-700"
		>
			Prev
		</a>
		<a href="/" class="text-xl text-gray-700 hover:text-yellow-700">Home</a>
		<a
			href={`/slides/${nextSlide?.linkText}`}
			class="text-xl text-gray-700 hover:text-yellow-700"
		>
			Next
		</a>
	</nav>
</header>
