---
const title = "UPC Lookup Service with Astro &amp; Cloudflare";
---

<header class="p-8 max-h-8">
	<nav class="">
		<a href="/">
			<div class="flex align-center justify-start">
				<img
					src={Astro.resolve("../assets/astro-logo.gif")}
					class="max-h-16"
					alt="Astro logo" />
				<img
					src={Astro.resolve("../assets/cf-logo-v.svg")}
					class="max-h-16"
					alt="Cloudflare logo" />
				<h1 class="hidden md:block mx-8 text-4xl">
					{title}
				</h1>
			</div>
			<h1 class="md:hidden text-2xl">
				{title}
			</h1>
		</a>
	</nav>
</header>
