---
// TODO: Why doesn't this import properly?
// import { SlideType } from "../presentation";
export interface Props {
	slide: SlideType;
}

const { slide } = Astro.props as Props;
const { title, previewText, linkText } = slide;
---

<article class="mt-8">
	<h3 class="text-2xl text-gray-700 underline ">
		<a href={`/slides/${linkText}`} class="hover:text-yellow-700">{title}</a>
	</h3>
	<p class="pl-4 sm:pl-8 my-2 text-xl">{previewText}</p>
	<a href={`/slides/${linkText}`} class="pl-4 sm:pl-8 text-yellow-700"
		>Read more</a>
</article>
