---
// @ts-ignore
import { SEO } from "astro-seo";
import { ComponentChildren } from "preact";

import Navigation from "../components/Navigation.astro";

export interface Props {
	children: ComponentChildren;
	seo: {
		canonical: string;
		description: string;
		title: string;
		openGraph: {
			basic?: {
				image: string;
				title: string;
				type: string;
				url: string;
			};
		};
	};
}

const { seo } = Astro.props as Props;
---

<html lang="en">
	<head>
		<SEO
			canonical={seo.canonical}
			description={seo.description}
			openGraph={seo.openGraph}
		/>
		<meta charSet="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href={Astro.resolve("../assets/global.css")} />
	</head>

	<body class="mx-auto max-w-6xl text-gray-700 h-full pb-32 tracking-wide">
		<Navigation />
		<main class="px-8 full-minus-nav">
			<slot />
		</main>
	</body>
</html>
