---
// @ts-ignore
import { SEO } from "astro-seo";
import { ComponentChildren } from "preact";

import { getSeoProps } from "../utils.js";
import Navigation from "../components/Navigation.astro";

const url = new URL(Astro.request.url);
const seoInfo = getSeoProps(url.pathname);

export interface Props {
	children: ComponentChildren;
}
---

<html lang="en">
	<head>
		<SEO
			title={seoInfo.title}
			canonical={seoInfo.canonical}
			description={seoInfo.description}
			openGraph={seoInfo.openGraph}
		/>
		<meta charSet="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href={Astro.resolve("../assets/global.css")} />
	</head>

	<body class="mx-auto max-w-6xl text-gray-700 h-full pb-32 tracking-wide">
		<Navigation />
		<main class="px-8 full-minus-nav">
			<slot />
		</main>
	</body>
</html>
