---
// @ts-ignore
import { SEO } from "astro-seo";
import { ComponentChildren } from "preact";

// import { SlideType } from "../types/presentation";

import Navigation from "../components/Navigation.astro";

export interface Props {
	// nextSlide?: SlideType;
	// previousSlide?: SlideType;
	nextSlide?: any;
	previousSlide?: any;
	children: ComponentChildren;
}

const { nextSlide, previousSlide } = Astro.props as Props;
---

<html lang="en">
	<head>
		<SEO
			title="A Very Descriptive Title"
			description="A heavily optimized description full of well-researched keywords."
		/>
		<meta charSet="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href={Astro.resolve("../assets/global.css")} />
	</head>

	<body class="mx-auto max-w-6xl text-gray-700 h-full">
		<Navigation {nextSlide} {previousSlide} />
		<main class="px-8 full-minus-nav">
			<slot />
		</main>
	</body>
</html>
