---
import BaseHead from "../../components/BaseHead.astro";
import SlideHeader from "../../components/SlideHeader.astro";

const title = "Convert Project to Astro";
const description = "Convert a plain HTML project into an Astro project.";
const permalink =
	"https://slides-astro-cloudflare-upc.codedemos.dev/astro-create-project";
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body class=" text-gray-700 mx-auto max-w-6xl mb-32">
		<SlideHeader />
		<main class="px-8 mt-32 sm:mt-32 md:mt-16 mb-8">
			<h3 class="text-4xl">Start with a Bare Bones HTML Page</h3>
			<p class="mt-8 text-2xl">
				Our project starts with a simple HTML page that has been pushed to
				Github.
			</p>

			<p class="mt-8 text-2xl">
				A Cloudflare Pages project has been created on for this Github repo.
				Now, every time any branch in this repo gets modified, Cloudflare will
				rebuild it.
			</p>

			<p class="mt-8 text-2xl">
				Changes to the "main" branch will be published to the "production" URL.
			</p>

			<p class="my-8 text-2xl">Original Version Links</p>

			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<a
					href="https://github.com/justinnoel/code-demos-upc-lookup-front-end/tree/main"
					target="_blank"
					rel="noopener noreferrer"
					class="underline hover:text-yellow-700">Github (main branch).</a>
			</div>

			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<a
					href="https://upc-lookup-frontend.codedemos.dev"
					target="_blank"
					rel="noopener noreferrer"
					class="text-2xl underline hover:text-yellow-700"
					>https://upc-lookup-frontend.codedemos.dev</a>
			</div>

			<hr class="mt-16 mx-4 text-gray-300" />

			<h3 class="mt-8 text-4xl">Convert the Project to Astro</h3>
			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<div>
					<code>npm init astro --template framework-preact</code>
				</div>
				<div>
					<code>yarn</code>
				</div>
				<div>
					<code>yarn dev</code>
				</div>
			</div>

			<p class="my-8 text-2xl">
				<span class="font-bold">NOTE:</span> I've modified it just slightly for this
				presentation
			</p>

			<p class="mt-8 text-2xl">
				Changes to any branch other than "main" will be published to a unique
				preview URL.
			</p>

			<p class="my-8 text-2xl">Astro-ized Version Links</p>

			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<a
					href="https://github.com/justinnoel/code-demos-upc-lookup-front-end/tree/feat/add-astro-to-project"
					target="_blank"
					rel="noopener noreferrer"
					class="underline hover:text-yellow-700"
					>Github ( feat/add-astro-to-project branch)</a>
			</div>

			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<a
					href="https://344d59a7.code-demos-upc-lookup-front-end.pages.dev"
					target="_blank"
					rel="noopener noreferrer"
					class="text-2xl underline hover:text-yellow-700"
					>https://344d59a7.code-demos-upc-lookup-front-end.pages.dev</a>
			</div>

			<hr class="mt-16 mx-4 text-gray-300" />

			<h3 class="mt-8 text-4xl">Add the UPC Lookup Interface</h3>

			<p class="mt-8 text-2xl">
				I've thrown a really quick UI into the code to demonstrate how Astro can
				handle all the typical React(Preact) type functions, hooks, etc.
			</p>

			<p class="mt-8 text-2xl">I'm no designer - sue me!</p>

			<p class="my-8 text-2xl">UPC Looking Links</p>

			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<a
					href="https://github.com/justinnoel/code-demos-upc-lookup-front-end/tree/feat/add-upc-lookup-ui"
					target="_blank"
					rel="noopener noreferrer"
					class="underline hover:text-yellow-700"
					>Github ( feat/add-upc-lookup-ui branch)</a>
			</div>

			<div class="mt-8 text-2xl mx-8 bg-gray-100 p-4">
				<a
					href="https://dd734c2f.code-demos-upc-lookup-front-end.pages.dev/"
					target="_blank"
					rel="noopener noreferrer"
					class="text-2xl underline hover:text-yellow-700"
					>https://dd734c2f.code-demos-upc-lookup-front-end.pages.dev/</a>
			</div>
		</main>
	</body>
</html>
