---
import BaseHead from "../../components/BaseHead.astro";
import SlideHeader from "../../components/SlideHeader.astro";

const title = "Astro Static Site Generator";
const description =
	"Today, we'll demonstrate building a simple UPC lookup service that will be based off a real service created for the Community Garden Kitchen of McKinney, TX.";
const permalink = "https://slides-astro-cloudflare-upc.codedemos.dev/astro";
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body class=" text-gray-700 mx-auto max-w-6xl mb-32">
		<SlideHeader />
		<main class="px-8 mt-32 sm:mt-32 md:mt-16 mb-8">
			<p class="mt-8 text-2xl">
				<a
					class="underline hover:text-yellow-700"
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer">Astro</a> is one of many Static Site Generators
				(SSG) developers can choose from today.
			</p>

			<h3 class="mt-8 text-4xl">
				<a id="concepts" href="#concepts" aria-hidden="true" class="group">
					<img
						alt=""
						class="relative max-h-6 -left-8 top-8 invisible group-hover:visible"
						src="../assets/img/link.svg" />
					Concepts
				</a>
			</h3>
			<ul class="mt-8 text-xl">
				<li class="mt-6 ml-6">
					<p class="text-xl">
						Build faster websites with less client-side Javascript
					</p>
				</li>

				<li class="mt-6 ml-6">
					<p class="text-xl">
						<a
							class="underline hover:text-yellow-700"
							href="https://jasonformat.com/islands-architecture/"
							target="_blank"
							rel="noopener noreferrer">Islands Architecture</a>
					</p>
				</li>
			</ul>

			<div class="mt-6 mx-12 text-xl">
				<q class="italic">
					The general idea of an “Islands” architecture is deceptively simple:
					render HTML pages on the server, and inject placeholders or slots
					around highly dynamic regions. These placeholders/slots contain the
					server-rendered HTML output from their corresponding widget. They
					denote regions that can then be "hydrated" on the client into small
					self-contained widgets, reusing their server-rendered initial HTML.
				</q>
			</div>

			<hr class="mt-16 mx-4 text-gray-300" />

			<h3 class="mt-8 text-4xl">
				<a
					id="use-any-javascript-framework"
					href="#use-any-javascript-framework"
					aria-hidden="true"
					class="group">
					<img
						alt=""
						class="relative max-h-6 -left-8 top-8 invisible group-hover:visible"
						src="../assets/img/link.svg" />
					Use Any JavaScript or Framework with Built-in TypeScript Support
				</a>
			</h3>

			<ul class="mt-8 text-xl">
				<li class="mt-6 ml-6">
					<p class="text-xl">Vanilla JS - FTW!</p>
				</li>

				<li class="mt-6 ml-6">
					<p class="text-xl">React</p>
				</li>

				<li class="mt-6 ml-6">
					<p class="text-xl">Svelte</p>
				</li>

				<li class="mt-6 ml-6">
					<p class="text-xl">Vue</p>
				</li>

				<li class="mt-6 ml-6">
					<p class="text-xl">Solid</p>
				</li>
			</ul>

			<p class="mt-8 text-2xl">
				By default, <span class="font-bold">zero</span> developer generated JavaScript
				is shipped to the client. However, a small loader script will be downloaded
				for all pages.
			</p>

			<p class="mt-8 text-2xl">
				The loader script allows for hydrating client components as needed and
				only when they are visible using the intersection observer.
			</p>

			<hr class="mt-16 mx-4 text-gray-300" />

			<h3 class="mt-8 text-4xl">
				<a
					id="astro-ecosystem"
					href="#astro-ecosystem"
					aria-hidden="true"
					class="group">
					<img
						alt=""
						class="relative max-h-6 -left-8 top-8 invisible group-hover:visible"
						src="../assets/img/link.svg" />
					Astro Ecosystem
				</a>
			</h3>

			<p class="mt-8 text-2xl">
				The Astro Discord server is very active with a diverse group of core
				team and community members. The community has created some great
				additions to Astro to help make working with Astro even easier. Here are
				some examples.
			</p>

			<ul class="mt-4 text-xl">
				<!-- NOTE: Entries should be in alphabetical order. However, the
				first entry (astro.new is intentionally out of order) -->
				<li class="mt-8">
					<a class="underline hover:text-yellow-700" href="https://astro.new/"
						>astro.new: A starting point to try out different Astro templates
						for the current release of Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://astro.new/next/"
						>* astro.new/next: A starting point to try out different Astro
						templates for the very soon to be released version of Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/markteekman/accessible-astro-components"
						>accessible-astro-components: A set of accessible front-end
						components for the Astro static site builder.</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/trashhalo/astro-command"
						>astro-command: Run commands as Astro components</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/one-aalam/astro-ink"
						>astro-ink: Crisp, minimal, personal blog theme for Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/jasikpark/astro-katex"
						>astro-katex: Astro Component for rendering LaTex via KaTeX</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/mzaini30/astro-meta"
						>astro-meta: Add a title and description to a page</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/rebelchris/astro-modal"
						>astro-modal: A modal for use in Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/snowpackjs/astro-og-image"
						>astro-og-image: Open Graph images for Astro sites</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/trashhalo/astro-pandoc"
						>astro-pandoc: Astro component for using pandoc to convert content</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/RafidMuhymin/astro-script"
						>astro-script: A simple script management component for Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/jonasmerlin/astro-seo"
						>astro-seo: Makes it easy to add SEO relevant tags to your Astro app</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/RafidMuhymin/astro-spa"
						>astro-spa: An Astro JS component that turns a website into an SPA
						and boost performance using various techniques</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/PhilDL/astro-starter-ghost"
						>astro-starter-ghost: A starter template to build lightning fast
						websites with Ghost and Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/robertguss/Astro-Theme-Creek"
						>Astro-Theme-Creek: A theme for Astro</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/aFuzzyBear/astro-ui"
						>astro-ui: MonoRepo to house the collective distribution for Astro
						Components
					</a>
					<ul class="mt-4 text-xl ml-8">
						<li class="mt-8">
							<a
								class="underline hover:text-yellow-700"
								href="https://github.com/aFuzzyBear/astro-ui/tree/main/components/AVPlayer"
								>AVPlayer</a>
						</li>
						<li class="mt-8">
							<a
								class="underline hover:text-yellow-700"
								href="https://github.com/aFuzzyBear/astro-ui/tree/main/components/MediaPlayer"
								>MediaPlayer</a>
						</li>
						<li class="mt-8">
							<a
								class="underline hover:text-yellow-700"
								href="https://github.com/aFuzzyBear/astro-ui/tree/main/components/Stylesheet"
								>Stylesheet: Simple component to help abstract the monotony of
								adding stylesheets to any Astro project</a>
						</li>
						<li class="mt-8">
							<a
								class="underline hover:text-yellow-700"
								href="https://github.com/aFuzzyBear/astro-ui/tree/main/components/XElement"
								>XElement: Generate any type of specialised Web Component from
								within Astro from a single interface</a>
						</li>
						<li class="mt-8">
							<a
								class="underline hover:text-yellow-700"
								href="https://github.com/aFuzzyBear/astro-ui/tree/main/components/XHooks"
								>XHooks</a>
						</li>
					</ul>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/jonathantneal/astro-youtube-component"
						>astro-youtube-component: Astro implementation of Lite YouTube Embed</a>
				</li>

				<li class="mt-8">
					<a
						class="underline hover:text-yellow-700"
						href="https://github.com/jonathantneal/radix-icons-in-astro"
						>radix-icons-in-astro: Radix Icons in Astro</a>
				</li>
			</ul>
		</main>
	</body>
</html>
