---
import PresentationLayout from "../../layouts/Presentation.astro";
import ExternalLink from "../../components/ExternalLink.astro";
import HeaderLink from "../../components/HeaderLink.astro";
---

<PresentationLayout>
	<HeaderLink
		classNames="h1-common"
		headerElement="h1"
		id="/slides/what-we-are-building"
		text="What We're Building"
	/>

	<p class="p-common">
		Today we're going to build a simple (fake) UPC lookup service. The user will
		enter a UPC barcode value to get information about the grocery product they
		have scanned.
	</p>

	<HeaderLink
		headerElement="h2"
		id="community-garden-kitchen-upc-lookup-service"
		text="UPC Lookup Service"
	/>
	<p class="p-common">
		This presentation is based on a
		<ExternalLink
			link="https://community-garden-kitchen-barcodes.pages.dev/"
			linkText="real UPC lookup service"
		/>
		I created for the
		<ExternalLink
			link="https://communitygardenkitchen.org/"
			linkText="Community Garden Kitchen of McKinney"
		/>
		.
	</p>

	<p class="p-common">
		If you'd be so kind as to make a
		<ExternalLink
			link="https://communitygardenkitchen.org/support/donate/"
			linkText="donation"
		/>
		, I would really appreciate it. Your support will help to build and run a free
		restaurant that serves the needs of my community. Anyone in need of a meal or
		some compassionate company will be able to come in and get the support they need.
	</p>
</PresentationLayout>
